.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #008080;
  height: 50px;
  padding: 20px;
  color: white;
}

.navbar-light {
  background-color: #008080;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #fff;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.del-link {
  color: red;
}

.btn-primary {
  background-color: #008080;
  border: #008080;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
